/* Write your CSS here */
.bg-container {
  background-color: #1e293b;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  color: #f0bb03;
  font-family: Roboto;
}
.description {
  font-family: Roboto;
  color: #ffffff;
}
.btn-styles {
  border-radius: 4px;
}
